.nav-container {
    .list-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: orange;
        padding: 8px;
        .link-item {
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
        }
        .link-active {
            font-size: 1.75rem;
            color: red;
            font-weight: bold;
        }
        @media screen and (min-width: 768px) {
            .link-active::before {
                content: url(../../assets/icon-nav.svg);
            }
            .link-active::after {
                content: url(../../assets/icon-nav.svg);
            }
        }
        .link-item:hover {
            color: red;
            font-weight: bold;
        }
    }
}