$button-color-normal: orange;
$button-color-hover: red;
.gift-container {
    position: relative;
    height: 100%;
    button {
        background: $button-color-normal;
        padding: 8px 16px;
        margin: 16px 0;
    }
    button:hover {
        background: $button-color-hover;
    }
    button:active {
        animation: zoom-button 0.3s ease-out;
    }
    img {
        width: 85%;
        height: auto;
    }
    .no-collection {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    }
}

@keyframes zoom-button {
    from {
        scale: 1;
    }
    to {
        scale: 2;
    }
}