@font-face {
    font-family: Pacifico;
    src: url(./fonts/Pacifico-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Pacifico;
}

body {
    background: url(./assets/background.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-size: 18px;
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 767px) {
    body {
        background: url(./assets/background2.jpg);
        background-size: cover;
        background-attachment: fixed;
        max-width: 100%;
        overflow-x: hidden;
        font-size: 14px;
    }
}